# Ignore IDE-specific files
.vscode/
.idea/
*.iml

# Ignore directories and files specific to Java
target/
/out/
/build/
/bin/
test/
resources/

# Ignore Maven files
.mvn/ 
mvnw 
mvnw.cmd

# Ignore directories and files specific to JavaScript 
/dist/
env.js

# Ignore Node
node_modules/
